<div class="row">
  <div class="col-lg-8">
    <h3 class="border-bottom border-dark border-opacity-25 pb-1">
      Base
    </h3>
    <%= render 'dradis/plugins/calculators/cvss/base/v4/base' %>

    <h3 class="mt-5 border-bottom border-dark border-opacity-25 pb-1">
      Supplemental
    </h3>
    <%= render 'dradis/plugins/calculators/cvss/base/v4/supplemental' %>

    <h3 class="mt-5 border-bottom border-dark border-opacity-25 pb-1">
      Environmental
    </h3>
    <%= render 'dradis/plugins/calculators/cvss/base/v4/environmental' %>

    <h3 class="mt-5 border-bottom border-dark border-opacity-25 pb-1">
      Threat
    </h3>
    <div class="mb-4"><%= render 'dradis/plugins/calculators/cvss/base/v4/threat' %></div>
  </div>

  <div class="col-lg-4" id="cvss4-edit-result">
    <h3>
      Result: <span id="cvss4-score" data-behavior="cvss4-result">0.0 (None)</span>
    </h3>
    <textarea name="cvss_fields" rows="52" class="form-control mb-4">#[CVSSv4.Vector]#
N/A

#[CVSSv4.BaseScore]#
N/A

#[CVSSv4.BaseSeverity]#
N/A

#[CVSSv4.BaseExploitableAttackVector]#
#[CVSSv4.BaseExploitableAttackComplexity]#
#[CVSSv4.BaseExploitableAttackRequirements]#
#[CVSSv4.BaseExploitablePrivilegesRequired]#
#[CVSSv4.BaseExploitableUserInteraction]#
#[CVSSv4.BaseVulnerableConfidentiality]#
#[CVSSv4.BaseVulnerableIntegrity]#
#[CVSSv4.BaseVulnerableAvailability]#
#[CVSSv4.BaseSubsequentConfidentiality]#
#[CVSSv4.BaseSubsequentIntegrity]#
#[CVSSv4.BaseSubsequentAvailability]#

#[CVSSv4.SupplementalSafety]#
#[CVSSv4.SupplementalAutomatable]#
#[CVSSv4.SupplementalRecovery]#
#[CVSSv4.SupplementalValueDensity]#
#[CVSSv4.SupplementalVulnerabilityResponseEffort]#
#[CVSSv4.SupplementalProviderUrgency]#

#[CVSSv4.EnvironmentalExploitabilityAttackVector]#
#[CVSSv4.EnvironmentalExploitabilityAttackComplexity]#
#[CVSSv4.EnvironmentalExploitabilityAttackRequirements]#
#[CVSSv4.EnvironmentalExploitabilityPrivilegesRequired]#
#[CVSSv4.EnvironmentalExploitabilityUserInteraction]#
#[CVSSv4.EnvironmentalVulnerableConfidentiality]#
#[CVSSv4.EnvironmentalVulnerableIntegrity]#
#[CVSSv4.EnvironmentalVulnerableAvailability]#
#[CVSSv4.EnvironmentalSubsequentConfidentiality]#
#[CVSSv4.EnvironmentalSubsequentIntegrity]#
#[CVSSv4.EnvironmentalSubsequentAvailability]#
#[CVSSv4.EnvironmentalConfidentialityRequirements]#
#[CVSSv4.EnvironmentalIntegrityRequirements]#
#[CVSSv4.EnvironmentalAvailabilityRequirements]#

#[CVSSv4.ThreatExploitMaturity]#
    </textarea>
  </div>
</div>
