<div class="d-flex align-items-center justify-content-end gap-2 small">
  <label class="form-label m-0" for="cvss-version">Version:</label>
  <select id="cvss-version" class="form-select" aria-label="cvss version select" data-behavior="cvss-version">
    <% issue_field = @issue ? @issue&.fields['CVSSv4.Vector'] : nil %>
    <option value="40" <%= 'selected' if issue_field&.include?('CVSS:4.0') %>>v4.0</option>
    <option value="31" <%= 'selected' if issue_field&.include?('CVSS:3.1') %>>v3.1</option>
    <option value="30" <%= 'selected' if issue_field&.include?('CVSS:3.0') %>>v3.0</option>
  </select>
</div>
