<% if Dradis::Plugins::Calculators::CVSS::Engine.settings.show.to_i == 1 %>
  <li class="nav-item">
    <a href="#cvss-tab" data-bs-toggle="tab" class="nav-link"><i class="fa-solid fa-calculator"></i> CVSS</a>
  </li>
<% end %>
