<% if Dradis::Plugins::Calculators::CVSS::Engine.settings.show.to_i == 1 %>
<li class="nav-item">
  <a href="#cvss-tab" data-toggle="tab" class="nav-link"><i class="fa fa-calculator"></i> CVSSv3</a>
</li>
<% end %>
