<% content_for :title, 'Edit CVSS score' %>

<% content_for :sidebar do %>
  <%= render 'issues/sidebar'%>
<% end %>

<div class="content-container">
  <h4 class="header-underline d-flex justify-content-between">
    <span>Edit CVSS Risk Scoring</span>
    <%= render 'dradis/plugins/calculators/cvss/version_menu' %>
  </h4>
  <div id="issues_editor">
    <%= render 'dradis/plugins/calculators/cvss/issues/edit/v3' %>
    <%= render 'dradis/plugins/calculators/cvss/issues/edit/v4' %>
  </div>
</div>
