<%= content_tag :div, class: 'page-header' do %>
  <h1>CVSSv3 score calculator</h1>
<% end %>

<p class="lead">Use this page to calculate the <abbr title="Common Vulnerability Scoring System">CVSS</abbr> score of a given finding.</p>

<%= render 'calculator' %>
