<%= content_tag :div, class: 'page-header' do %>
  <h1>CVSS score calculator</h1>
  <%= render 'dradis/plugins/calculators/cvss/version_menu' %>
<% end %>

<p class="lead">Use this page to calculate the <abbr title="Common Vulnerability Scoring System">CVSS</abbr> score of a given finding.</p>

<p class="alert alert-danger d-none" data-behavior="cvss-error"></p>

<div class="row">
  <div id="v3-index d-none" data-cvss-version="3">
    <%= render 'dradis/plugins/calculators/cvss/base/v3/index' %>
  </div>
  <div id="v4-index d-none" data-cvss-version="4">
    <%= render 'dradis/plugins/calculators/cvss/base/v4/index' %>
  </div>
</div>
