<%= content_tag :div, class: 'page-header' do %>
  <h1>CVSSv3 score calculator</h1>
<% end %>

<p class="lead">Use this page to calculate the <abbr title="Common Vulnerability Scoring System">CVSS</abbr> score of a given finding.</p>

<div class="row">
  <div class="span8">

    <h2 title="The Base Metric group represents the intrinsic  characteristics of a vulnerability that are constant over time and across user environments. Determine the vulnerable component and score Attack Vector, Attack Complexity, Privileges Required and User Interaction relative to this.">
      Base: <span id="base-score">0</span>
    </h2>
    <%= render 'dradis/plugins/calculators/cvss/base/base'          %>

    <h2 title="The Temporal metrics measure the current state of exploit techniques or code availability, the existence of any patches or workarounds, or the confidence that one has in the description of a vulnerability.">
      Temporal: <span id="temporal-score">0</span>
    </h2>
    <%= render 'dradis/plugins/calculators/cvss/base/temporal'      %>

    <h2 title="These metrics enable the analyst to customize the CVSS score depending on the importance of the affected IT asset to a user’s organization, measured in terms of complementary/alternative security controls in place, Confidentiality, Integrity, and Availability. The metrics are the modified equivalent of base metrics and are assigned metric values based on the component placement in organization infrastructure.">
      Environmental: <span id="environmental-score">0</span>
    </h2>
    <%= render 'dradis/plugins/calculators/cvss/base/environmental' %>
  </div>

  <div class="span4">
    <textarea name="cvss_fields" rows="52" style="width:100%">#[CVSSv3.Vector]#
N/A

#[CVSSv3.BaseScore]#
N/A

#[CVSSv3.BaseSeverity]#
N/A

#[CVSSv3.TemporalScore]#
N/A

#[CVSSv3.TemporalSeverity]#
N/A

#[CVSSv3.EnvironmentalScore]#
N/A

#[CVSSv3.EnvironmentalSeverity]#
N/A

#[CVSSv3.BaseAttackVector]#
#[CVSSv3.BaseAttackComplexity]#
#[CVSSv3.BasePrivilegesRequired]#
#[CVSSv3.BaseUserInteraction]#
#[CVSSv3.BaseScope]#
#[CVSSv3.BaseConfidentiality]#
#[CVSSv3.BaseIntegrity]#
#[CVSSv3.BaseAvailability]#
#[CVSSv3.EnvironmentalConfidentialityRequirement]#
#[CVSSv3.EnvironmentalIntegrityRequirement]#

</textarea>
  </div>
</div>
